<h1>Livro de receitas</h1>

  <dl>
    <% @recipes.each do |recipe| %>
      <dt>
        <strong>Nome:</strong><%= recipe.name %>
      </dt>

      <dd>
        <strong>Tipo da receita:</strong><%= recipe.recipe_type %>
      </dd>

      <dd>
        <strong>Culinária:</strong><%= recipe.cuisine %>
      </dd>

      <dd>
        <strong>Ingredientes:</strong><%= recipe.ingredients %>
      </dd>

      <dd>
        <strong>Modo de preparo:</strong><%= recipe.cook_method %>
      </dd>

      <dd>
        <strong>Tempo de preparo:</strong><%= recipe.cook_time %>
      </dd>
  </dl>
<% end %>